@use "base/global.scss" as global;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: global.$background-color;
}

// BurgerMenu
/*#region*/

.burger-menu {
    transform: translateX(-100%);
    transition: 0.2s transform ease-in-out;
    position: fixed; 
    left: 0;
    top: 0;
    height: 100%;
    width: global.$burger-menu-width;
    
    @media screen and (max-width: global.$screen-mobile-w) {
        width: 100%;
    }

    &.active {
        transform: translateX(0%);
    }

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: global.$background-color;
}

#burger-open {
    position: absolute;
    width: 32px;
    top: calc(global.$topnav-height / 2);
    transform: translateY(-50%);
    left: 32px;
    cursor: pointer;
}

#burger-close {
    position: absolute;
    width: 32px;
    top: calc(global.$topnav-height / 2);
    transform: translateY(-50%);
    left: 32px;
    cursor: pointer;
}

.burger-menu a{
    color: global.$text-primary-color;
    font-size: 1.2em;
    text-decoration: none;
    width: 100%;
    padding: 32px;
    margin-left: 16px;
    cursor: pointer;
}

.burger-menu a.active{
    pointer-events: none;
    color: global.$accent-color;
}

.burger-menu a:hover{
    text-decoration: underline;
}

.burger-header {
    width: 100%;
    height: global.$burger-menu-width;
    background-color: global.$primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-header .logo {
    width: 140px;
}

.burger-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#exit_link {
    padding: 0;
    position: absolute;
    bottom: 32px;
    left: 32px;
    margin: 0;
}
/*#endregion*/

/* TOPNAV */
/*#region*/
.topnav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: global.$topnav-height;
    background-color: global.$primary-color;
    clear: both;
}

.topnav span{
    color: global.$text-icons-color;
    font-size: 1.2em;
    text-decoration: none;
}

.topnav a.active{
    pointer-events: none;
}

.topnav a:hover{
    text-decoration: underline;
}

.under-topnav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: global.$under-topnav-menu-height;
    width: 100%;
    position: fixed;
    top: global.$topnav-height;
    gap: 5%;
    background-color: global.$primary-light-color;
}

.under-topnav-menu .button {
    height: global.$under-topnav-menu-height;
    padding-left: 16px;
    padding-right: 16px;
}

.button{
    @include global.button;
}
/*#endregion*/

// Loadable Elements
/*#region*/
.loadable {
    transition: global.$default-transition-time opacity ease-in-out;
}

.spinner {
    transition: global.$default-transition-time opacity ease-in-out;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    @include global.loading-animation;
    margin-top: -50px;
    margin-left: -50px;
    background: url('../Images/inyan_loader.svg');
    background-size: 100px 100px;
}

.loading {

    .loadable {
        opacity: 0;
    }

    .spinner {
        opacity: 1;      
    }
}
/*#endregion*/

/* MESSAGE AREA */
/*#region*/
.messageArea {
	@include global.message-screen-area;
}

.messageBox {
    @include global.message-box;
}

#saveBtn{
    position: absolute;
    padding: 10px;
    width: 150px;
    height: 36px;
    margin-right: -30px;
    margin-top: 100px;

}

#message {
    margin-bottom: 16px;
	font-size: 20px;
}

#closeBtn {
    position: absolute;
    display: block;
    font-weight: 1000;
    margin-top: -80px;
    margin-right: -30px;
    font-size: 25px;
    cursor: default;
    color: black;
    user-select: none;
    transition: global.$default-transition-time background-color;
}

#closeBtn:hover{
    cursor: pointer;
    opacity: 0.8;
}

#closeBtn:active {
    opacity: 0.5;
}
/*#endregion*/

/* TEXTAREA/SELECT */
/*#region*/
textarea {
    resize: none;
    font-size: 1em;
    overflow: hidden;
    text-align: center;
}

textarea:disabled{
    background-color: white;
    color: black;
}

.sub_field {
    pointer-events: none;
}

textarea{
    outline: none;
    border: 2px solid global.$primary-color;
    border-radius: 16px;
    width: 400px;
    font-size: 1.1em;
    min-height: 60px;

    transition: global.$default-transition-time border-color;
    transition: global.$default-transition-time background-color;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-weight: bold;
    outline: none;
    width: 250px;
    height: 60px;
    cursor: pointer;

    text-align: center;
    text-align-last: center;
    border: 2px solid global.$primary-color;
    border-radius: 16px;
    transition: global.$default-transition-time border-color;
    transition: global.$default-transition-time background-color;
}

select option {
	text-align: left;
}

select:focus, textarea:focus, input:focus{
    border-color: global.$accent-color;
} 

/*#endregion*/

/* SCROLLBAR */
/*#region*/
::-webkit-scrollbar {
    width: 15px;

    @media screen and (max-width: global.$screen-mobile-w) {
        width: 0px;
    }

}

::-webkit-scrollbar-thumb {
    background: global.$primary-color; 
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: global.$primary-dark-color; 
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px 96DB96; 
    border-radius: 100px;
}
/*#endregion*/